asgiref==3.7.2
beautifulsoup4==4.12.3
bs4==0.0.2
certifi==2024.2.2
charset-normalizer==3.3.2
Django==5.0.2
geographiclib==2.0
geopy==2.4.1
holidays==0.42
idna==3.6
psycopg2-binary==2.9.9
python-dateutil==2.8.2
requests==2.31.0
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
urljoin==1.0.0
urllib3==2.2.1
pandas==2.2.3
haversine==2.8.1
django-redis==5.4.0
python-dotenv==1.0.1