{% extends 'base.html' %}
{% block title %}Wybierz miasto{% endblock %}

{% block content %}
<div class="container my-5">
    <h1 class="text-center mb-4">Wybierz miasto</h1>
    <div class="list-group">
        {% for city in cities %}
            {% if city.available_on_website %}
                <a href="{% url 'route_search:BaseView' city.name.lower %}" class="list-group-item list-group-item-action d-flex justify-content-between">
                    {{ city.name }}
                    <div>
                        {% if city.realtime %}
                            <i class="bi bi-broadcast text-success me-2" title="Realtime Available"></i>
                        {% endif %}
                        {% if city.tickets %}
                            <i class="bi bi-ticket-detailed text-warning" title="Tickets Available"></i>
                        {% endif %}
                    </div>

                </a>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}
