{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "User Profile" %}{% endblock %}
{% block content %}
    <div class="container py-5">
        <div class="row">
            <div class="col-md-12 text-center mb-4">
                <h1 class="display-4">{% trans "User Profile" %}</h1>
                <p class="text-secondary">{% trans "Details about your account" %}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="card shadow-sm">
                    <div class="card-header bg-primary text-white">
                        <h5 class="mb-0">{% trans "User Settings" %}</h5>
                    </div>
                    <div class="card-body">
                        <p><strong>{% trans "Email:" %}</strong> {{ user.email }}</p>
                        <p><strong>{% trans "Date Joined:" %}</strong> {{ user.date_joined|date:"d-m-Y" }}</p>
                        <a href="{% url 'account_change_password' %}" class="btn btn-outline-primary mt-3">{% trans "Change Password" %}</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card shadow-sm">
                    <div class="card-header bg-info text-white">
                        <h5 class="mb-0">{% trans "Other Settings" %}</h5>
                    </div>
                    <div class="card-body">
                        <p><i class="bi bi-speedometer2"></i> {% trans "Walking Speed:" %} <b>{{ object.pace }} m / s</b></p>
                        <p><i class="bi bi-person-walking"></i> {% trans "Maximum Walking Distance:" %} <b>{{ object.max_distance }} meters</b></p>
                        <a href="{% url 'users:user_metrics' %}" class="btn btn-outline-primary mt-3">{% trans "Edit" %}</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-12">
                <div class="card shadow-sm">
                    <div class="card-header bg-success text-white d-flex justify-content-between align-items-center">
                        <h5 class="mb-0">{% trans "Your Tickets" %}</h5>
                    </div>
                    <div class="card-body">
                        {% if user.tickets %}
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead class="table-dark">
                                    <tr>
                                        <th>{% trans "Ticket Type" %}</th>
                                        <th>{% trans "Status" %}</th>
                                        <th>{% trans "Purchase Date" %}</th>
                                        <th>{% trans "Ending Date" %}</th>
                                        <th>{% trans "QR Code" %}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for ticket in user.tickets.all %}
                                        <tr>
                                            <td>{{ ticket.ticket_type }}</td>
                                            <td>
                                            <span class="badge
                                                {% if ticket.status == 'unused' %}
                                                    bg-warning
                                                {% elif ticket.status == 'in_use' %}
                                                    bg-success
                                                {% elif ticket.status == 'ended' %}
                                                    bg-danger
                                                {% endif %}
                                            ">
                                                {{ ticket.get_status_display }}
                                            </span>
                                            </td>
                                            <td>{{ ticket.created_at|date:"d-m-Y H:i" }}</td>
                                            <td>{{ ticket.ending_datetime|date:"d-m-Y H:i" }}</td>
                                            <td>
                                                <a href="{% url 'tickets:use_ticket' ticket.id %}"
                                                   class="btn btn-secondary" data-toggle="tooltip" data-placement="top"
                                                   title="{% trans "Generating a QR code will use the ticket." %}">
                                                    <i class="bi bi-qr-code"></i>
                                                    {% if ticket.status == 'in_use' %}
                                                        {% trans "Show for Inspection" %}
                                                    {% elif ticket.status == 'ended' %}
                                                        {% trans "Ticket Ended" %}
                                                    {% elif ticket.status == 'unused' %}
                                                        {% trans "Generate QR Code and Use Ticket" %}
                                                    {% endif %}
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% else %}
                            <div class="alert alert-info text-center" role="alert">
                                {% trans "You don't have any tickets yet." %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

    </div>



{% endblock %}
