{% extends 'base.html' %}

{% load crispy_forms_tags i18n %}

{% block content %}
<div class="container mt-4">
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
            <h3 class="mb-0">
                <i class="fa fa-user"></i> {% trans "User Form" %}
            </h3>
        </div>
        <div class="card-body">
            {% if form.errors %}
                <div class="alert alert-danger">
                    <ul>
                        {% for field, errors in form.errors.items %}
                            {% for error in errors %}
                                <li>{{ field }}: {{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <form method="post" enctype="multipart/form-data" action="{% url 'users:user_metrics' %}">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-primary" type="submit">Zatwierdź</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
