{% extends "account/base_manage_password.html" %}
{% load allauth i18n %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center">{% trans "Change Password" %}</h1>
            {% url 'account_change_password' as action_url %}
            <form method="post" action="{{ action_url }}" class="mt-4">
                {% csrf_token %}
                {{ redirect_field }}
                <div class="mb-3">
                    {{ form.as_p }}
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary">
                        {% trans "Change Password" %}
                    </button>
                    <a href="{% url 'account_reset_password' %}" class="btn btn-link text-muted text-center">
                        {% trans "Forgot Password?" %}
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
