{% load static %}
<!DOCTYPE html>
<html lang="pl-PL">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sprawdź swojego busa</title>

    <!--  LEAFLET  -->
    <link rel="stylesheet" href="{% static 'base_view/lib/leaflet/leaflet.css' %}"/>
    <script src="{% static 'base_view/lib/leaflet/leaflet.js' %}"></script>
    <link rel="stylesheet" href="{% static 'base_view/lib/leaflet/leaflet-routing-machine.css' %}"/>
    <script src="{% static 'base_view/lib/leaflet/leaflet-routing-machine.js' %}"></script>

    <!--  STYLES  -->
    <link rel="stylesheet" href="{% static 'base_view/css/index.css' %}"/>
  </head>
  <body>
    {% include './sections/base_modal.html' %}
    {% include './sections/map.html' %}
    <script src="{% static 'base_view/js/index.js' %}"></script>
  </body>

    <script>
        const ws_vehicle_positions = new WebSocket('ws://127.0.0.1:8000/ws/vehicle_positions/');

        ws_vehicle_positions.onopen = () => {
            console.log("Connected to WebSocket Vehicle Positions");
        };

        ws_vehicle_positions.onmessage = (event) => {
            const data = JSON.parse(event.data);
            console.log("Vehicle Positions:", data);
        };

        ws_vehicle_positions.onclose = () => {
            console.log("WebSocket Vehicle Positions closed");
        };



        const ws_trip_updates = new WebSocket('ws://127.0.0.1:8000/ws/trip_updates/');

        ws_trip_updates.onopen = () => {
            console.log("Connected to WebSocket Trip Updates");
        };

        ws_trip_updates.onmessage = (event) => {
            const data = JSON.parse(event.data);
            console.log("Trip updates:", data);
        };

        ws_trip_updates.onclose = () => {
            console.log("WebSocket Trip Updates closed");
        };

    </script>
</html>