{% load i18n %}
<div class="dropdown" id="choose-city-dropdown">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="choose-city-dropdown-master">
    {% trans "Choose a city" %}
  </a>

  <ul class="dropdown-menu shadow">
    {% for city in cities %}
        {% if city.available_on_website %}
            <li>
                <a href="{% url 'route_search:BaseView' city.name.lower %}"
                   class="dropdown-item d-flex justify-content-between align-items-center">
                    <span>{{ city.name }}</span>
                    <span>
                        {% if city.realtime %}
                            <i class="bi bi-broadcast text-success me-2" title="Realtime Available"></i>
                        {% endif %}
                        {% if city.tickets %}
                            <i class="bi bi-ticket-detailed text-warning" title="Tickets Available"></i>
                        {% endif %}
                    </span>
                </a>
            </li>
        {% endif %}
    {% endfor %}
  </ul>
</div>
