{% load i18n static %}

<style>
    #map {
        position: relative;
        z-index: 0;
        bottom: 0px;
        width: 100vw;
        height: 100%;
        overflow: hidden;
    }
</style>

<div id="map"></div>


<script>
    let icon;
    let locationIcon;
    let options = {
        maxZoom: 18,
        showZoom: false, // Hide the default zoom buttons
        showCompass: false // Hide the default compass con
    };

    icon = L.icon({
        iconUrl: '{% static 'base_view/img/bus-stop-map.png' %}',
        iconSize: [15, 15],
    });

    locationIcon = L.icon({
        iconUrl: '{% static 'base_view/img/location-black.png' %}',
        iconSize: [25, 25],
    });

    let routingControls = [];
    let vehiclesControls = [];
    let polylines = [];

    const removeRoutingControl = () => {
        routingControls.forEach((control) => {
            map.removeControl(control);
        });
        routingControls = [];

        polylines.forEach((polyline) => {
            map.removeLayer(polyline);
        });
        polylines = [];
    };

    const removeVehiclesRoutingControl = () => {
        vehiclesControls.forEach((control) => {
            map.removeControl(control);
        });
        vehiclesControls = [];
    }

    const draw_route = (array) => {
        removeRoutingControl();
        const keys = Object.keys(array || {});

        keys.forEach(key => {
            const coords = array[key].map(coord => L.latLng(coord[0], coord[1]));
            console.log(key, coords.length)

            if (coords.length === 2) {
                const routingControl = L.Routing.control({
                    waypoints: coords,
                    router: L.Routing.mapbox(MAPBOX_ACCESS_TOKEN, {
                        profile: 'mapbox/walking'
                    }),
                    lineOptions: {
                        styles: [{color: getColor(key), opacity: 0.7, weight: 2, dashArray: '2, 4'}],
                    },
                    fitSelectedRoutes: false,
                    show: false,
                    createMarker: (i, wp, nWps) => {
                        if (key == 0) {
                            if (i === 0) {
                                return L.marker(wp.latLng, {
                                    icon: L.divIcon({
                                        className: "custom-div-icon",
                                        html: `<div class="marker-label">{% trans "Start" %}</div>`,
                                        iconAnchor: [25, 10]
                                    }),
                                    draggable: false
                                });
                            } else {
                                return L.marker(wp.latLng, {
                                    icon: L.divIcon({
                                        className: "custom-div-icon",
                                        html: `<div class="marker-label text-center">{% trans "First stop" %}</div>`,
                                        iconAnchor: [25, 10]
                                    }),
                                    draggable: false
                                });
                            }
                        } else if (key == keys.length - 1) {
                            if (i === 0) {
                                return L.marker(wp.latLng, {
                                    icon: L.divIcon({
                                        className: "custom-div-icon",
                                        html: `<div class="marker-label text-center">{% trans "Last stop" %}</div>`,                                        iconSize: [70, 40],
                                        iconAnchor: [25, 10]
                                    }),
                                    draggable: false
                                });

                            } else {
                                return L.marker(wp.latLng, {
                                    icon: L.divIcon({
                                        className: "custom-div-icon",
                                        html: `<div class="marker-label">{% trans "Destintion" %}</div>`,
                                        iconAnchor: [25, 10]
                                    }),
                                    draggable: false
                                });
                            }
                        }

                        return null;
                    },
                }).addTo(map);

                routingControl.on('routingerror', function (e) {
                    console.error('Routing error:', e);
                });

                routingControls.push(routingControl);
            } else if (coords.length > 2) {
                const polyline = L.polyline(coords, {
                    color: getColor(key),
                    weight: 2,
                    opacity: 0.7,
                }).addTo(map);

                polylines.push(polyline);
            }
        });
    };


    function getColor(key) {
        const colors = ["purple", "green", "blue", "orange", "red", "yellow"];
        return colors[key % colors.length];
    }

    const MAPBOX_ACCESS_TOKEN = "pk.eyJ1IjoiZHVkdXMxMDExIiwiYSI6ImNtNHdrdXZzdjBkM2wyanNmanJlbGF2ZWIifQ.ES2qQSvKzaZXLsQGPAVCPQ"


    const map = L.map("map", {
        maxZoom: 18,
    }).setView({{ center_coordinates }}, 16);


    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}@2x?access_token={accessToken}', {
        id: 'mapbox/streets-v11',
        accessToken: MAPBOX_ACCESS_TOKEN,
        tileSize: 512,
        zoomOffset: -1,
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
            '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
            'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>'
    }).addTo(map);


    removeRoutingControl();
</script>
