{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Ticket Details" %}{% endblock %}

{% block content %}
    <div class="container py-5">
        <div class="row">
            <div class="col-md-12 text-center mb-4">
                <h1 class="display-4">{% trans "Ticket Details" %}</h1>
                <p class="text-secondary">{% trans "Information about the selected ticket" %}</p>
                {% if ticket.qr_code %}
                    <img src="{{ ticket.qr_code.url }}" alt="{% trans 'QR Code' %}" class="img-thumbnail">
                {% else %}
                    <p>{% trans "QR Code has not been generated." %}</p>
                {% endif %}
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card shadow-sm">
                    <div class="card-header bg-primary text-white">
                        <h5 class="mb-0">{% trans "Ticket" %}: {{ ticket.ticket_type }}</h5>
                    </div>
                    <div class="card-body">
                        <p><strong>{% trans "Purchase Date:" %}</strong> {{ ticket.created_at|date:"d-m-Y H:i" }}</p>
                        <p><strong>{% trans "Status:" %}</strong>
                            <span class="badge
                            {% if ticket.status == 'unused' %}
                                bg-warning
                            {% elif ticket.status == 'in_use' %}
                                bg-success
                            {% elif ticket.status == 'ended' %}
                                bg-danger
                            {% endif %}
                        ">
                            {{ ticket.get_status_display }}
                        </span>
                        </p>
                        <p><strong>{% trans "Ending Date:" %}</strong>
                            {% if ticket.ending_datetime %}
                                {{ ticket.ending_datetime|date:"d-m-Y H:i" }}
                            {% else %}
                                -
                            {% endif %}
                        </p>
                        <p><strong>{% trans "Zone:" %}</strong> {{ ticket.ticket_type.zone }}</p>
                        <p><strong>{% trans "Price:" %}</strong> {{ ticket.ticket_type.price }} {{ ticket.ticket_type.currency }}</p>
                        <p><strong>{% trans "Ticket Type:" %}</strong>
                            {% if ticket.ticket_type.discounted %}
                                {% trans "Discounted" %}
                            {% else %}
                                {% trans "Regular" %}
                            {% endif %}
                        </p>

                        {% if ticket.status == 'unused' %}
                            <a href="{% url 'tickets:use_ticket' ticket.id %}" class="btn btn-secondary">
                                {% trans "Use Ticket" %}
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
